@let(title = 'Mot de passe oublié')
@include('pages/partials/header')

<h1 class="text-center">{{title}}</h1>

<form method="post" class="w-75 mx-auto p-3 bg-light rounded">
    {{ csrfField() }}
    @!component('components/input', { name : 'email', label : 'email', type : 'email'})
    <button type="submit" class="btn btn-outline-info mt-2">{{title}}</button>
</form>

@include('pages/partials/footer')