<div class="badge text-bg-info d-flex d-center tw-items-center">
    <small class="p-2 tw-text-base tw-font-bold">{{ username }}</small>
    <img src="{{ thumbnail }}" alt="{{username}}" style="width: 40px; height: 40px; object-fit: cover; border-radius: 20px; align-items">
</div>